/* Write your CSS here */
.popular-repos-bg-container {
  min-height: 100vh;
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popular-repos-heading {
  font-family: 'Lobster';
  color: #0f172a;
  font-size: 43px;
  font-weight: 600;
}

.popular-repos-ul-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.popular-repos-repository-items-ul-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.failure-view-img {
  width: 70%;
}

.failure-view-text {
  font-family: 'Lobster';
  font-size: 38px;
  color: #1e293b;
  font-weight: 600;
}
