/* Write your CSS here */
.li-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cbd5e1;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
  color: #7e858e;
  margin-bottom: 10px;
  padding: 10px;
}

.li-delete-btn {
  border: none;
  background-color: transparent;
}

.li-delete-img {
  height: 20px;
}

.li-text {
  margin: 0px;
}
