/* Write your code here. */

.bg-1 {
  background-color: #fbbf24;
  height: 100px;
  width: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.bg-2 {
  background-color: #38bdf8;
  height: 200px;
  width: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.bg-3 {
  background-color: #ec4899;
  height: 300px;
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.boxes-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.boxes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .boxes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
