.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */

.li-section1 {
  display: flex;
  flex-direction: row;
}

.letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 5px;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.li-section1-name-time {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.li-section1-name {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 15px;
  color: #334155;
  margin-right: 10px;
}

.li-section1-time {
  font-family: 'Roboto';
  font-size: 10px;
  color: #94a3b8;
}

.li-section1-comment {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
  color: #64748b;
  margin: 0px;
}

.li-section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.li-section2-like-btn {
  border: none;
  background-color: transparent;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.li-section2-like-img {
  height: 20px;
  margin-right: 15px;
}

.li-section2-like-text {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  color: #64748b;
}

.li-section2-delete-btn {
  height: 20px;
}

.liked {
  color: #0284c7;
}

.delete-btn {
  background-color: transparent;
  border: none;
}
